:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
img {
  display: block;
}
body {
  background-color: #F2E9E4;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  color: #37323E;
}
.logo {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.reg-sec {
  border-radius: 10px;
  text-align: center;
  padding: 20px 40px;
  background-color: white ;
}
h1 {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.form-item {
  font-weight: 600;
  margin-top: 20px;
  display: flex;
  justify-content:space-between;
}
.form-item input {
  width: 200px;
  border-radius: 5px;
}
.form-item input::placeholder {
  font-size: 12px;
}
.button-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 35px;
}

.button-wrapper button {
  background-color: #A3CEF1;
  border-radius: 10px;
  font-weight: 700;
  padding: 10px 20px;
  flex: 1;
}

.button-wrapper button:hover {
  cursor: pointer;
  background-color: #5390D9;
}
.reg-but {
  margin-top: 10px;
  width: 100%;
  background-color: #A3CEF1;
  border-radius: 10px;
  font-weight: 700;
  padding: 10px 20px;
}
.reg-but:hover {
  cursor: pointer;
  background-color: #5390D9;
}
.title {
  font-size: 20px;
  font-weight: 600;
}
.error-text {
  text-align: left;
  font-size: 12px;
  color: red;
  font-weight: 500;
}